.middle {
  display: block;
  justify-content: center;
  padding: 20px 20px;
  width: 457px;
  height: 326px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.bts {
  display: flex;
  justify-content: space-around;
}
.button {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none rgba(0, 0, 0, 0.15);
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: auto;
  color: white;
  /* font-size: 70px; */
}
.start {
  font-weight: bolder;
  /* background: #FFFFFF; */
  border: none;
  border-radius: 6px;
  line-height: 44px;
  cursor: pointer;
  font-size: 26px;
  line-height: 20px;
  font-style: normal;
  outline: none;
  /* font-family: 'Montserrat'; */
  position: relative;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: 159px;
  font-family: 'ArialRounded';
  font-size: 22px;
  height: 55px;
  background-color: white;
}
.start::before {
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  box-shadow: rgb(235 235 235) 0px 6px 0px;
}
.start:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.startButtons {
  cursor: pointer;
  border: none;
  /* margin: 20px 0px 0px; */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  /* padding: 8px 24px; */
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  color: #db524d;
}
.active {
  color: var(--color-active);
}

.stopIcon {
  display: inline;
  margin-left: 30px;
}
